body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: 100;
}

h1 {
  font-weight: 100;
  padding: 10px;
}

div {
  float: left;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  max-width: 680px;
}

img {
  max-width: 680px;
  width: 100%;
  float: left;
}

span {
  position: absolute;
  display: block;
  padding: 2px 5px;
  background-color: rgba(1, 1, 1, 0.5);
  color: #eee;
  font-size: 0.9rem;
  bottom: 0;
  right: 0;
}
